/*style for body */
body{
  background: #ffffe6;
  padding: 1%;
  margin: 0px;
}

/* style for main */
.main{
  margin: 0px;
  background: linear-gradient( #d1cfad, #e3e2ce, #f6f5ef, #e3e2ce, #d1cfad);
  padding: 1%;
  border-radius: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* styling for header files */
header{
  text-align: center;
  line-height: 50%;
}
header h1{
  font-size: 300%;
}

/* styling for the image div */
.img-div{
  padding-bottom: 2%;
  text-align: center;
}
.img-div h4{
  text-align: center;
  font-style: italic;

}
.img-div img{
  border: 5px solid white;
  width: 55%;
}

/* Styling for the button */
.img-div button{
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.img-div button:hover{
  background-color: #3e8e41
}
.img-div button:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* styling for the tribute data */
.tribute-info{
  text-align: justify;
}
.tribute-info div{
  border-radius: 10px;
  padding: 1%;
  margin: 1%;
  background: rgba(0, 0, 0, 0.1);
}

/* Styling for the footer */
footer{
  text-align: center;
  font-size: 150%;
  font-weight: 800;
}
footer a{
  text-decoration: none;
  color: #939053;
}
footer a:visited{
  color: #727040;
}
footer a:hover{
  text-decoration: underline;
  color: #969254;
}

@media (max-width:952px){
  .img-div img{
    border: 2px solid white;
    width: 100%;
  }
}